/* src/styles/home.css */
:root {
  --primary-color: #235835;
  --secondary-color: #c3f2c3;
  --dark-text: #1e3e27;
  --light-text: #f5f5f5;
  --background-light: #ffffff;
  --background-tint: #e7f2ec;
}

.home-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-text);
  line-height: 1.6;
  background-color: var(--background-light);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
 
  max-width: 1800px;
  margin: 0 auto;

}

@media (max-width: 768px) {
  .home-page {
    padding: 0 0.15rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  .home-page {
    padding: 0 0.03rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}



